<!DOCTYPE html>
<html>
<head>
  <title>Tumblful</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <a class="nav-logo-link page-title" href="/">
    <h1 class='pull-left'>Tumblful</h1>
  </a>
  <br>
  <nav>
      <br><br>
    <ul>
        <%= link_to "Home", root_path, class: 'button'  %>
        <%= link_to "All Image Links", image_links_path, class: 'button' %>
        <%= link_to "All Text Posts", text_posts_path, class: 'button'  %>
        <%= link_to "All Article Links", article_links_path, class: 'button'  %>

        
  </ul>
</nav>
  
   
  <%= button_to("Sign out", destroy_user_session_path, :method => :delete, :class => "pull-right") if user_signed_in? %>
</nav>
<%= notices %>
<div class='main-content'>
  <%= yield %>
</div>
</body>
</html>
